@import "variables"

@font-face
  font-family 'icons'
  src url(icomoon-font-path + '/icons.eot?ctx6ce')
  src url(icomoon-font-path + '/icons.eot?ctx6ce#iefix') format('embedded-opentype'), url(icomoon-font-path + '/icons.ttf?ctx6ce') format('truetype'), url(icomoon-font-path + '/icons.woff?ctx6ce') format('woff'), url(icomoon-font-path + '/icons.svg?ctx6ce#icons') format('svg')
  font-weight normal
  font-style normal
  font-display block

[class^="icon-"], [class*=" icon-"]
  font-family 'icons' !important
  speak never
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-search
  &:before
    content icon-search
.icon-chevron-bar-up
  &:before
    content icon-chevron-bar-up
.icon-chevron-right
  &:before
    content icon-chevron-right
.icon-chevron-left
  &:before
    content icon-chevron-left
.icon-clipboard-check
  &:before
    content icon-clipboard-check
.icon-clipboard
  &:before
    content icon-clipboard
.icon-quote
  &:before
    content icon-quote
.icon-x
  &:before
    content icon-x
.icon-archive
  &:before
    content icon-archive
.icon-tags
  &:before
    content icon-tags
.icon-exclamation-triangle-fill
  &:before
    content icon-exclamation-triangle-fill
.icon-link-45deg
  &:before
    content icon-link-45deg

