icomoon-font-path ?= "fonts"

icon-search = "\e900"
icon-chevron-bar-up = "\e901"
icon-chevron-right = "\e902"
icon-chevron-left = "\e903"
icon-clipboard-check = "\e904"
icon-clipboard = "\e905"
icon-quote = "\e906"
icon-x = "\e907"
icon-archive = "\e908"
icon-tags = "\e909"
icon-exclamation-triangle-fill = "\e90a"
icon-link-45deg = "\e90b"

