<% if(theme.toc){
    var topic = toc(post.content, {
            class: 'post-toc',
            list_number: theme.toc.list_number
        })
    if(topic) {
    %>
    <div class="post-widget">
        <nav class="post-toc-wrap post-toc-show" id="post-toc">
            <h4>TOC</h4>
            <%- toc(post.content, {
                class: 'post-toc',
                list_number: theme.toc.list_number
            }) %>
        </nav>
        <a class="post-toc-toggle" onclick="toggleToc(this, expend, collapse);" href="javascript:;">
            <%= __('post.toc.expand') %>
        </a>
    </div>
    <%- `
    <script>
        expend = "${__('post.toc.expand')}";
        collapse = "${__('post.toc.collapse')}";
    </script>
    ` %>
    <script src="/js/toc.js"></script>
   <% }
} %>
