-
  const tocHtml = toc(
    post.content, {
      class: 'post-toc',
      list_number: theme.toc.list_number
    })

if (undefined === page.toc || true === page.toc) && tocHtml
  aside.post-widget
    h4= __('toc.title')
    nav#post-toc.post-toc-wrap
      | !{tocHtml}
