<style>
  .not-found {
    text-align: center;
    vertical-align: middle;
    line-height: 600px;
    font-size: 36px;

    @media (prefers-color-scheme: light) {
      .not-found {
        background-color: #666;
      }
    }

    @media (prefers-color-scheme: dark) {
      .not-found {
        background-color: #9A9A9A;
      }
    }
  }
</style>

<p class="not-found">
  <%= __('not_found') %>
</p>