<div class="category">
  <p class="signature">
    <%= config.signature || theme.signature %>
  </p>
  <h1><%= __('nav.category') + page.category %></h1>
  <div class="post-item-cont">
    <% page.posts.each(post => { %>
    <%- partial('_partial/article-list-item', {post: post, condense: true}) %>
    <% }) %>
  </div>

  <div class="pagination">
    <%- partial('_partial/pagination', {page: page}) %>
  </div>
</div>
