<%- partial('_partial/menu', {pagination: 2, index: true}) %>

<div id="index-content" class="content">
  <% page.posts.each(function(post){ %>
    <%- partial('_partial/article-list-item', {post: post, condense: false}) %>
  <% }) %>

  <div class="pagination">
    <%- partial('_partial/pagination', {page: page}) %>
  </div>
</div>