<div class="menu-navlifes-cont">
  <%
    function renderPostList(category) {
      let cat = site.categories.findOne({ name: category })
      if (!cat || !cat.posts || !cat.posts.length) { %>
        <p class="menu-navlifes-item empty">Empty~</p>
  <%
        return;
      }

      let posts = cat.posts.sort('date', -1)
      posts.slice(0, showNum).each(post => { %>
        <p class="menu-navlifes-item">
          <a href="<%- url_for(post.path) %>">
            <span><%- post.title %></span>
          </a>
        </p>
    <% }) /* posts.each */ %>
    <% if (posts.length > showNum) { %>
      <p class="menu-navlifes-item">...</p>
  <% }
    } /* function renderPostList */
    renderPostList(category) %>
</div>
