default-font-size = 16px;
default-font-family = 'Noto Sans SC', sans-serif;
//
primary-trans = rgba(0, 0, 0, 0.75);
secondary-trans = rgba(0, 0, 0, 0.6);
//
primary-color = #000;
secondary-color = #333;
//
primary-gray = #aaa;
secondary-gray = #666;
info-gray = #9A9A9A;