@import 'font'

content-max-width = 1080px

// Global settings
default-font-size = 16px
default-font-family = 'Noto Sans', 'Noto Sans SC'
content-font-family = 'Noto Serif', 'Noto Serif SC', sans-serif
title-font-size = 24px
large-font-size = 30px
content-font-size = 20px
info-font-size = 14px
// Colors for light mode
background-color-light = #ffffff
primary-color-light = #333333
code-background-color-light = #CECEFF
primary-gray-light = #AAAAAA
secondary-color-light = #838383
secondary-gray-light = #666666
border-color-light = #CCCCCC
border-gray-light = #EEEEEE
border-table-light = #000000
// Colors for dark mode
background-color-dark = #101010
primary-color-dark = #CDCDCD
code-background-color-dark = #33333E
primary-gray-dark = #565656
secondary-color-dark = #7D7D7D
secondary-gray-dark = #9A9A9A
border-color-dark = #343434
border-gray-dark = #333333
border-table-dark = #ffffff

if (!hexo-config('dark_mode'))
  $background-color = background-color-light
  primary-color = primary-color-light
  code-background-color = code-background-color-light
  primary-gray = primary-gray-light
  secondary-color = secondary-color-light
  secondary-gray = secondary-gray-light
  $border-color = border-color-light
  border-gray = border-gray-light
  border-table = border-table-light
else
  $background-color = background-color-dark
  primary-color = primary-color-dark
  code-background-color = code-background-color-dark
  primary-gray = primary-gray-dark
  secondary-color = secondary-color-dark
  secondary-gray = secondary-gray-dark
  $border-color = border-color-dark
  border-gray = border-gray-dark
  border-table = border-table-dark
