// Global settings
default-font-size = 16px;
default-font-family = 'Noto Sans SC', sans-serif;

// Colors
// Primary
primary-color = #000;
secondary-color = #333;
// Transform
primary-trans = rgba(0, 0, 0, 0.75);
secondary-trans = rgba(0, 0, 0, 0.6);
// Grays
primary-gray = #aaa;
secondary-gray = #666;
info-gray = #9A9A9A;

// Size
// Paddings