.category {
  max-width: 850px;
  margin: 0 auto;

  .signature {
    width: 100%;
    text-align: center;
    overflow: hidden;
    color: primary-gray;
    font-size: 15px;
    padding: 40px 0 20px 0;
  }
}