.category
  max-width: 850px
  margin: 0 auto

  .signature
    info-link-text()
    width: 100%
    text-align: center
    overflow: hidden
    padding: 40px 0 20px 0

  h1
    title()
    font-size: large-font-size
