.category
  max-width: content-max-width
  margin: 0 auto

  .signature
    info-link-text()
    width: 100%
    text-align: left
    overflow: hidden
    padding: 40px 0 20px 0

  h1
    padding: 0.5em 0 1em 0
    font-weight: 600
    font-size: content-font-size
