@charset 'UTF-8'
@font-face {
  font-family: 'Noto Sans SC';
  src: url('/css/NotoSansSC-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/css/NotoSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif SC';
  src: url('/css/NotoSerifSC-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/css/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
