.post
  p
    .fin
      display: block
      fin-text()

    .warning-banner
      display: block
      warning-text()
      banner-text()

  .text-align
    align-func($attr)
      for $option in left right justify
        text-align-control($attr, $option)

    align-func(data-align)

    @media screen and (max-width: 750px)
      align-func(data-sm-align)

    @media screen and (min-width: 750px)
      align-func(data-md-align)
