.post
  p
    .fin
      display: block
      fin-text()

    .warning-banner
      display: block
      warning-text()
      banner-text()

  .text-indent-0
    text-indent: 0

  for $option in left right justify
    text-align-control(s('.text-%s', $option), $option)

  @media screen and (max-width: 768px)
    for $option in left right justify
      text-align-control(s('.md\:text-%s', $option), $option)
