.content
  width: 73%
  float: right

  .content-pagination
    padding-bottom: 36px

    .nav-link
      display: flex
      flex-direction: row
      align-items: center

      i
        margin-bottom: -2px

      &.prev
        float: left

      &.next
        float: right

  img
    max-width: 100%
    height: auto
    display: inline-block
    vertical-align: middle

#index-content
  max-width: 850px
  margin: 0 auto

  .post-item + .post-item
    border-top: 1px solid
    border-color(border-gray, border-gray-light, border-gray-dark)
