.content
  width: 73%
  float: right

  .content-pagination
    padding-bottom: 36px

    .prev
      float: left

      .prev-icon
        nav-icon()
        background-image: url('/img/search-gt.png')

    .next
      float: right

      .next-icon
        nav-icon()
        background-image: url('/img/search-lt.png')

  img
    max-width: 100%
    height: auto
    display: inline-block
    vertical-align: middle

#index-content
  max-width: 850px
  margin: 0 auto

  .post-item + .post-item
    border-top: 1px solid
    border-color(border-gray, border-gray-light, border-gray-dark)
