html
  font-size: default-font-size
  box-sizing: border-box
  font-family: default-font-family
  scroll-behavior: smooth

body
  padding: 0
  margin: 0
  color: primary-color
  vertical-align: baseline

*
  margin: 0px
  padding: 0px
  list-style: none
  text-decoration: none
  user-select: none
  -webkit-user-select: none
  -ms-user-select: none
  -moz-user-select: none

a, a:visited
  color: primary-gray

a:hover
  color: secondary-gray

img
  max-width: 100%
  height: auto
  display: inline-block
  vertical-align: middle

del
  text-decoration: line-through

.page
  // display: none;
  margin-top: 0px

.page .head
  // display: none;
  z-index: 9
  top: 0
  right: 0
  left: 0
  box-shadow: 0 0 1px border-color
  background: background-color

@media screen and (max-width: 750px)
  .head
    position: fixed

  .about, .post-item .post-item-head .post-item-title a, .head-authorLink
    font-weight: 400 !important

  .menu-nav, #head-about, .post-widget
    display: none

  #barWrap-toggle
    display: inline-block

  #index-content
    width: 100%

  .main
    margin-top: 65px !important

  .barShow-head
    display: none
    position: fixed
    left: 0px
    top: 65px
    background: background-color
    width: 100%
    border-top: 1px solid border-gray
    box-shadow: 0px 2px 2px border-gray

  #post
    width: 100%

.page .main
  margin: 0 auto
  width: 90%
  max-width: 1000px

.main > .post
  width: 85%
  float: left

  .article-entry
    p
      line-height: 1.5em

.article-tag-list-item
  display: inline
  margin-right: 0.5rem

.article-tag-list-item:last-of-type
  margin-right: auto

.article-entry
  li
    font-size: 20px
    line-height: 2rem

  ul
    padding-bottom: 0.5rem

    li
      list-style: disc inside

  ol
    li
      list-style: decimal inside

.page .footer-nav
  // display: none;
  display: block
  margin: 30px auto 0px
  width: 100%
  float: left

  .footer
    info-text()
    margin: 0 auto
    padding: 20px 0
    border-top: 1px solid border-color
    max-width: 1000px
    width: 90%
    overflow: hidden

    .icp
      margin-bottom: 10px

      .icp-text
        vertical-align: middle

.page .back-top
  margin-right: 40px
  cursor: pointer

.back-top-icon
  float: right
  display: inline-block
  width: 16px
  height: 16px
  background-image: url('/img/back-top.png')
  background-repeat: no-repeat
