$theme-selectable = hexo-config('selectable')

html
  font-size: default-font-size
  font-family: default-font-family
  box-sizing: border-box
  background-color($background-color, background-color-light, background-color-dark)
  scroll-behavior: smooth

body
  padding: 0
  margin: 0
  text-color(primary-color, primary-color-light, primary-color-dark)
  vertical-align: baseline

*
  margin: 0px
  padding: 0px
  list-style: none
  text-decoration: none

  if (!$theme-selectable)
    -webkit-user-select: none
    -ms-user-select: none
    -moz-user-select: none
    user-select: none

a, a:visited
  text-color(primary-gray, primary-gray-light, secondary-color-dark)

a:hover
  text-color(secondary-gray, secondary-gray-light, secondary-gray-dark)

img
  max-width: 100%
  height: fit-content
  display: inline-block
  vertical-align: middle
  $dark-mode = hexo-config('dark_mode')

  if ($dark-mode == 'auto')
    @media (prefers-color-scheme: dark)
      filter: brightness(0.8)
  else if ($dark-mode == true)
    filter: brightness(0.8)

del, s
  text-decoration: line-through

.page
  // display: none;
  margin-top: 0px

.page .head
  // display: none;
  z-index: 9
  top: 0
  right: 0
  left: 0
  border-bottom: 1px solid
  border-color($border-color, border-color-light, border-color-dark)
  background-color($background-color, background-color-light, background-color-dark)

@media (max-width: 768px)
  animation-time = 0.4s

  @keyframes showHead
    0%
      top: -65px

    100%
      top: 0

  @keyframes hideHead
    0%
      top: 0

    100%
      top: -65px

  .page .head
    position: fixed
    top: 0
    animation: showHead animation-time forwards

    &:not([data-show])
      animation: hideHead animation-time forwards

  .about, .post-item .post-item-head .post-item-title a, .head-author-link
    font-weight: 400 !important

  .menu-nav, .head-right .head-item
    display: none

  .post-widget
    width: 100%

  #bar-wrap-toggle
    display: inline-block

  .page .main
    margin-top: 65px

  .menubar-head
    display: block
    position: fixed
    left: 0px
    top: 65px
    height: calc(100vh - 65px)
    background-color($background-color, background-color-light, background-color-dark)
    width: 100%
    border-top: 1px solid
    border-color(border-gray, border-gray-light, border-gray-dark)

    box-shadow: 0 5px 10px
    text-color(border-gray, border-gray-light, border-gray-dark)

    &:not([data-show])
      display: none

  #post
    width: 100%

.main
  margin-left: auto
  margin-right: auto
  width: 90%
  max-width: content-max-width

  &[data-page="post"]
    padding: 40px 0

  &[data-page="home"]
    padding: unset

  &[data-page="tag"]
    display: block

  display: grid

  // 在桌面端有2列，分别是正文和目录
  grid-template-columns: @css{minmax(75%, 800px)} auto
  // 移动端因为隐藏了目录所以只有1列，此时第2列的auto是不该存在的
  // 否则会导致右侧有多余的空间，于是左右看起来不对称
  @media (max-width: 768px)
    grid-template-columns: @css{minmax(75%, 800px)}

  grid-column-gap: 20px

  &[data-page="category"], &[data-page="archive"]
    display: block

  .post
    .article-entry
      p
        line-height: 1.5em

.article-tag-list-item
  display: inline
  margin-right: 0.5rem

.article-tag-list-item:last-of-type
  margin-right: auto

.article-entry
  li
    font-size: 20px
    line-height: 2rem

  ul
    margin-left: 2em
    padding-left: 2em
    padding-bottom: 0.75em

    li
      list-style: disc

      &:has(> label > input[type="checkbox"])
        list-style: none
        margin-left: -2em

        label > input[type="checkbox"]
          margin-right: 0.5em

      p
        text-indent: 0

    ul
      li
        list-style: circle

  ol
    padding-left: 2em
    padding-bottom: 0.75em

    li
      list-style: decimal

      p
        text-indent: 0

.page .footer-nav
  display: block
  margin: 30px auto 0px
  width: 100%

  .footer
    info-text()
    margin: 0 auto
    padding: 20px 0
    border-top: 1px solid
    border-color(border-color, border-color-light, border-color-dark)
    max-width: content-max-width
    width: 90%
    overflow: hidden

    .footer-links
      padding-top: 2em
      padding-bottom: 1em
      display: flex
      align-items: flex-start
      flex-wrap: wrap

      .footer-links-column
        width: 25%
        @media (max-width: 768px) {
          width: 50%
        }

        p
          padding-right: 1em
          padding-bottom: 1em

    .icp
      margin-bottom: 10px

      .icp-text
        vertical-align: middle

.page .back-top
  margin-right: 40px
  cursor: pointer

  .icon
    float: right
    font-size: 20px
    font-weight: 600

    &:hover
      text-color(secondary-gray, secondary-gray-light, secondary-gray-dark)

.nav-icon
  display: inline-block
  width: 16px
  height: 16px

.post-meta
  info-text()
  font-family: default-font-family
  margin-bottom: 10px

  .post-date
    display: inline-block
    margin-right: 10px

    .post-time
      font-family: 'Raleway', Georgia, 'Times New Roman', Times, serif

  .post-tag
    display: inline-block
    margin: 0 10px

    a
      text-color(primary-gray, primary-gray-light, primary-gray-dark)
      text-decoration: none

  .post-visit
    display: inline-block
    margin: 0 10px
