.tag-title
  max-width: content-max-width
  margin: 0.5em auto 1em auto

.tags-wrap
  max-width: content-max-width
  margin: 0 auto
  text-color(primary-color, primary-color-light, primary-color-dark)

  .tags
    padding-bottom: 5px

    a
      info-link-text()
      padding-right: 10px
      line-height: 25px

      &:hover
        text-color(primary-color, primary-color-light, primary-color-dark)

  .one-tag-list
    .tag-text
      margin: 20px 0 10px 0
      font-size: title-font-size
      text-color(primary-color, primary-color-light, primary-color-dark)

    .post-preview
      line-height: 35px

      .tag-item-date
        display: block
        float: left
        text-color(primary-gray, primary-gray-light, primary-gray-dark)

      .post-title
        display: inline-block
        text-indent: 2em
        text-color(primary-color, primary-color-light, primary-color-dark)
