.tags-wrap
  max-width: 850px
  margin: 0 auto
  padding-top: 40px
  color: secondary-color

  .tags
    padding-bottom: 5px

    a
      padding-right: 10px
      font-size: default-font-size
      color: primary-gray
      line-height: 25px

      &:hover
        color: secondary-color

  .one-tag-list
    .tag-text
      margin: 20px 0 10px 0
      font-size: title-font-size
      color: secondary-color

    .post-preview
      line-height: 35px

      .tag-item-date
        display: block
        float: left
        color: primary-gray

      .post-title
        display: inline-block
        text-indent: 2em
        color: secondary-color
