hanla:after {
    content: ' ';
    display: inline;
    // font-family: Arial;
    font-size: 0.89em;
}

code hanla, pre hanla, kbd hanla, samp hanla {
    display: none;
}

ol > hanla, ul > hanla {
    display: none;
}