<% if (pagination == 2){ %>
  <% page.posts.each(function(post){ %>
    <%- partial('_partial/article', {post: post, toc: false}) %>
  <% }) %>
<% } else { %>
  <% var last; %>
  <% page.posts.each(function(post, i){ %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = year; %>
      <section class="archives-wrap">
        <div class="archive-year"><%= year %></div>
        <div class="archives-year-cont">
    <% } %>
    <%- partial('_partial/archive-post', {post: post, even: i % 2 == 0}) %>
  <% }) %>
  <% if (page.posts.length){ %>
    </div></section>
  <% } %>
<% } %>

<div class="pagination archive-pagination">
  <%- partial('_partial/pagination', {page: page}) %>
</div>
