article.post-item(data-condense= condense)
  //- post title
  h2.post-item-title
    a.title(href= url_for(post.path))
      = post.title
  //- post meta
  .post-meta
    | !{ partial('_partial/post/date') }
    | !{ partial('_partial/post/tag') }
  //- post excerpt
  if post.excerpt
    .article-entry
      | !{ post.excerpt }

      if theme.excerpt_link
        p.article-more-link
          a(href= url_for(post.path))
            = __('post.excerpt_link')
