article.post-item(data-condense= condense)
  header.post-item-head
    h2.post-item-title
      a.title(href= url_for(post.path))
        = post.title
  .post-item-datetag
    .post-item-date
      | !{ partial('_partial/post/date') }
    .post-item-tag
      | !{ partial('_partial/post/tag') }

  .article-entry(itemprop="articleBody")
      if post.excerpt
        | !{ post.excerpt }

        if theme.excerpt_link
          p.article-more-link
            a(href= url_for(post.path))
              = theme.excerpt_link
