<div class="barShow-head" id="barShow">
  <ul class="barShow-ul">
    <% for (var i in theme.menu){ %>
      <li class="barShow-item">
        <a href="<%- url_for(theme.menu[i]) %>"><span>
            <%= i %></span></a>
      </li>
    <% } %>
    <% for (var i in theme.otherMenu2){ %>
      <li class="barShow-item">
        <a class="head-aboutLink" href="<%- url_for(theme.otherMenu2[i]) %>">
          <%= i %>
        </a>
      </li>
    <% } %>
  </ul>
</div>