header.head-header
  .head-author
    a.head-author-link(href= url_for())
      = config.title
  .head-right
    button#bar-wrap-toggle.bar-wrap
      span.bar
      span.bar
      span.bar

    if config.search
      .head-item
        a.search-button.head-item-link
          span= __('nav.search')
          |
          |
          i.icon.icon-search

    .head-item
      - const otherMenu2 = config.otherMenu2 || theme.otherMenu2;
      - for (const item in otherMenu2)
        a.head-item-link(href= url_for(otherMenu2[item]))
          = item
