header.head-header
  .head-author
    if is_home()
      h1.head-author-title
        a.head-author-link(href=url_for())
          = config.title
    else
      a.head-author-link(href=url_for())
        = config.title
  .head-right
    button#bar-wrap-toggle.bar-wrap(title= __('nav.toggle_bar'))
      span.bar
      span.bar
      span.bar

    if config.search
      .head-item
        a.search-button.head-item-link
          span= __('nav.search')
          |
          |
          i.icon.icon-search

    .head-item
      - const header_menu = config.header_menu;
      - for (const item in header_menu)
        a.head-item-link(href= url_for(header_menu[item]))
          = item
