<div class="menu-nav">
  <% for (var item in config.menu) { %>
  <div class="menu-navItem">
    <div class="menu-navItem-tit">
      <a href="<%- url_for(config.menu[item].link) %>">
        <span>
          <%= item %></span>
      </a>
    </div>
    <div class="menu-navItem-cont">
      <%- partial('_widget/' + config.menu[item].widget, {
        category: config.menu[item].name,
        showNum: config.menu[item].show_num || 3
      }) %>
    </div>
  </div>
  <% } %>
</div>