$code-foreground-light = #383A42
$code-background-light = #eeeeee
$code-attribute-light = #c18401
$code-built_in-light = #9b5656
$code-comment-light = #a0a1a7
$code-keyword-light = #a626a4
$code-number-light = #986801
$code-string-light = #50a14f
$code-symbol-light = $code-attribute-light
$code-title-light = #4078f2
