$code-foreground-dark = #abb2bf
$code-background-dark = #282c34
$code-attribute-dark = #e06c75
$code-built_in-dark = #56b5c2
$code-comment-dark = #5d636f
$code-keyword-dark = #c678dd
$code-number-dark = #e5c07b
$code-string-dark = #98c379
$code-symbol-dark = $code-attribute-dark
$code-title-dark = #61afef
