menu-nav-item-space = 5px;
menu-nav-space = 10px;

.menu-navlifes-cont {
  margin-top: menu-nav-space;

  .menu-navlifes-item {
    line-height: 24px;
    white-space: normal;
    padding-bottom: menu-nav-item-space;
    word-wrap: break-word;

    a {
      color: dark-gray;
    }
  }

  .menu-navlifes-item.empty {
    color: #999;
  }
}