.menu-navlifes-cont{
  margin-top: 16px;
  .menu-navlifes-item{
    line-height: 24px;
    white-space: normal;
    padding-bottom: 16px;
    word-wrap: break-word;
    a{
      color: dark-gray;
    }
  }
}