.menu-navTag-cont{
  margin-top: 16px;
  .tag-list-item{
    display: inline-block;
    padding: 0px 10px 7px 0px;
    a{
      color: dark-gray;
    }
    .tag-list-count{
      vertical-align: super;
      font-size: .6em;
      color: rgba(0, 0, 0, .35);
      margin-top: -.5em;
    }
  }
}