@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerifSC/NotoSerifSC-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerifSC/NotoSerifSC-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerifSC/NotoSerifSC-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerifSC/NotoSerifSC-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerifSC/NotoSerifSC-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerifSC/NotoSerifSC-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerifSC/NotoSerifSC-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
