<% if (config.visit_count.type) { %>
  <% if (config.visit_count.type === "visitor-counter") { %>

    <div class="post-visit">
      <span id="page_pv">?</span>
      <%= __('article.hits') %>
    </div>

  <% } else { %>

    <div class="post-visit">
      <span id="busuanzi_container_page_pv">
        <span id="busuanzi_value_page_pv"></span>
        <%= __('article.hits') %>
      </span>
    </div>

  <% } %>
<% } %>
