<% if (config.visit_count.type) { %>
  <% if (config.visit_count.type === "visitor-counter") { %>

    <div>
      <span id="site_pv">?</span> PV
      <span id="site_uv">?</span> UV
    </div>

  <% } else { %>

    <div>
      <span id="busuanzi_container_site_pv">
        <span id="busuanzi_value_site_pv">?</span> PV
      </span>
      <span id="busuanzi_container_site_uv">
        <span id="busuanzi_value_site_uv">?</span> UV
      </span>
    </div>

  <% } %>
<% } %>
