.csl-bib-body
  .csl-entry
    display: grid
    grid-template-columns: 3em auto
    grid-gap: 1em
    margin-bottom: 1em

    .csl-left-margin
      text-align: right

    .csl-right-inline
      text-align: justify
      word-break: break-word

      a
        word-break: break-all
