#valine-comments
    .vcontent p
        font-family: initial
        font-size: initial

    .vcount
        font-size: info-font-size!important
        
#gitalk-comments
    .vcontent p
        font-family: initial
        font-size: initial

    .vcount
        font-size: info-font-size!important
