.post-widget
  @media screen and (max-width: 768px)
    display: none

  info-text()
  width: calc(13.5% - 2em)
  position: fixed
  top: 122px
  left: @css{calc(min(81.5%, calc(50% + 350px)) + 1.5em)}

  .post-toc-toggle
    primary-link-text()
    font-size: info-font-size

  .post-toc-wrap
    max-height: 40vh
    margin-bottom: 1em
    overflow: hidden

    h4
      padding-bottom: 0.25em
      margin-bottom: 0.75em
      border-bottom: 1px solid
      border-color(border-gray, border-gray-light, border-gray-dark)
      text-color(secondary-gray, secondary-gray-light, secondary-gray-dark)

    .post-toc
      margin-left: -0.5em

      .post-toc-item
        line-height: 1.75em
        margin-left: 0.5em
        white-space: normal

        .post-toc-link
          display: grid
          grid-template-columns: auto 1fr
          grid-gap: 3px

          &[data-active]
            text-color(primary-color, primary-color-light, primary-color-dark)

@keyframes showToc
  0%
    max-height: 2000px

  100%
    max-height: $toc-height

@keyframes hideToc
  0%
    max-height: $toc-height

  100%
    max-height: 2000px

#post-toc
  animation: showToc 1s forwards

  &[data-expand=false]
    animation: hideToc 1s forwards
