.post-widget{
  float: right;
  padding-top: 40px;
  width: 20%;
  color: rgba(0, 0, 0, .6);
  .post-toc-wrap{
    h4{
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
    }
    .post-toc{
      padding-top: 10px;
      .post-toc-item{
        width: 100%;
        white-space: normal;
        margin-left: 1em;
        text-indent: -1em;
        padding: 5px 0px;
        a{
          font-size: 16px;
          color: dark-gray;
          line-height: 24px;
        }
      }
    }
  }
}