// This file contains styles only take effect in the .post scope
.post
  p
    .warning-banner
      display: block
      warning-text()
      banner-text()

  // text-align
  $align-array = left, right, justify, center

  for $option in $align-array
    .text-{$option}
      text-align-control($option)

    @media screen and (max-width: 768px)
      .md\\:text-{$option}
        text-align-control($option)

      for $another in $align-array
        .md\\:text-{$option}.text-{$another}
          text-align-control($option)

  // overflow
  $overflow-array = hidden, auto, scroll

  for $option in $overflow-array
    .overflow-{$option}, .overflow-x-{$option}
      overflow-x: $option

    .overflow-{$option}, .overflow-y-{$option}
      overflow-y: $option
