.archive-title
  max-width: content-max-width
  margin: 1em auto 0.5em auto
  font-size: content-font-size

.archives-wrap
  max-width: content-max-width
  margin-top: 1em

  .archive-year
    margin-bottom: 0.25em
    font-size: title-font-size
    font-weight: 400
    text-color(primary-color, primary-color-light, primary-color-dark)

  .archives-year-cont
    .archive-item
      display: grid
      grid-template-columns: 80px 1fr
      grid-column-gap: 40px
      margin: 0.5em 0
      padding-left: 0
      transition: all linear 0.2s

      &:first-child
        margin-top: 0.25em

      .article-date
        info-text()
        line-height: 25px

      .article-title
        a
          text-color(primary-color, primary-color-light, primary-color-dark)
          transition: all linear 0.1s

      &:hover
        padding-left: 5px

        .article-title
          a:hover
            text-color(secondary-color, secondary-color-light, secondary-color-dark)

.archive-pagination
  max-width: content-max-width
  margin: 0 auto
  padding: 20px 0px 36px 0px
