.post{
  padding: 40px 0;
  margin: auto;
  .post-head{
    .post-title{
      margin: 0px 0px 10px;
      a{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        color: dark-gray;
        text-decoration: none;
        font-weight: normal;
      }
    }
  }
  .post-datetag{
    margin-bottom: 10px;
    color: #aaa;
    font-size: 14px;
    .post-date{
      display: inline-block;
    }
    .post-tag{
      display: inline-block;
      margin-left: 20px;
      a{
        color: #aaa;
        text-decoration: none;
      }
    }
  }
  @font-face {
    font-family: "Source Han Sans CN Regular";
    src: url("Source Han Sans CN Regular.woff2") format("woff2"),
        url("Source Han Sans CN Regular.woff") format("woff"),
        url("Source Han Sans CN Regular.ttf") format("truetype"),
        url("Source Han Sans CN Regular.eot") format("embedded-opentype"),
        url("Source Han Sans CN Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  p{
    word-break: break-all;
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: "Source Han Sans CN Regular";
    font-size: 20px;
    text-indent: 2em;
    line-height: 1.5em!important;
  }
  blockquote>p {
    color: #9A9A9A;
  }
}