.article-entry {
  .article-more-link {
    font-family: 'Noto Sans SC';
  }
}

.post-item{
  padding: 20px 0;
  margin: auto;
  font-family: 'Noto Serif', 'Noto Serif SC', sans-serif;

  .post-item-head{
    .post-item-title{
      margin: 0px 0px 10px;
      font-size: 20px;

      a{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        color: dark-gray;
        font-weight: normal;
      }
    }
  }

  .post-item-datetag{
    margin-bottom: 10px;
    color: #aaa;
    font-size: 16px;

    .post-item-date{
      display: inline-block;

      .post-item-time {
        font-family: 'Raleway', Georgia, serif;
      }
    }
    .post-item-tag{
      display: inline-block;
      margin-left: 20px;

      a{
        color: #aaa;
        text-decoration: none;
      }
    }
  }

  .post-item-cc {
    color: #666;
    margin-bottom: 20px;
    font-size: 16px;
  }

  p{
    word-break: break-all;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 16px;
    text-indent: 2em;
    line-height: 1.5em!important;
  }

  blockquote>p {
    color: #9A9A9A;
  }
}