.article-entry {
  .article-more-link {
    font-family: 'Noto Sans SC';
    text-indent: 0;
    font-size: 16px;
  }
}

.article-entry.condense {
  .article-more-link {
    font-size: 14px;
  }
}

.post-item {
  padding: 40px 0;
  margin: auto;
  font-family: 'Noto Serif', 'Noto Serif SC', serif;

  .post-item-head {
    .post-item-title {
      margin: 0px 0px 10px;
      font-family: 'Noto Sans', sans-serif;

      a {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        color: primary-trans;
        text-decoration: none;
        font-weight: normal;
      }
    }
  }

  .post-item-datetag {
    margin-bottom: 10px;
    font-size: 14px;

    .post-item-date {
      color: primary-gray;
      display: inline-block;

      .post-time {
        font-family: 'Raleway', Georgia, 'Times New Roman', Times, serif;
      }
    }

    .post-item-tag {
      display: inline-block;
      margin-left: 20px;
      font-family: 'Noto Sans SC', sans-serif;
    }
  }

  p {
    word-break: break-all;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 20px;
    text-indent: 2em;
    line-height: 1.5em !important;
  }

  blockquote>p {
    color: info-gray;
  }
}

.post-item.condense {
  padding: 10px 0;

  .post-item-head {
    .post-item-title {
      font-size: 20px;
    }
  }

  .post-item-datetag {
    font-size: 16px;
  }

  p {
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 5px;
  }
}