.post{
  padding: 40px 0;
  .post-head{
    .post-title{
      margin: 0px 0px 10px;
      a{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        color: dark-gray;
        text-decoration: none;
        font-weight: normal;
      }
    }
  }
  .post-datetag{
    margin-bottom: 10px;
    color: #aaa;
    font-size: 14px;
    .post-date{
      display: inline-block;
    }
    .post-tag{
      display: inline-block;
      margin-left: 20px;
      a{
        color: #aaa;
        text-decoration: none;
      }
    }
  }
  p{
    word-break: break-all;
  }
}