.article-entry {
  .article-more-link {
    font-family: 'Noto Sans SC';
  }
}

.post-item {
  padding: 40px 0;
  margin: auto;
  font-family: 'Noto Serif', 'Noto Serif SC', sans-serif;

  .post-item-head {
    .post-item-title {
      margin: 0px 0px 10px;

      a {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        color: dark-gray;
        text-decoration: none;
        font-weight: normal;
      }
    }
  }

  .post-item-datetag {
    margin-bottom: 10px;
    color: #aaa;
    font-size: 14px;

    .post-item-date {
      display: inline-block;

      .post-item-time {
        font-family: 'Raleway', Georgia, 'Times New Roman', Times, serif;
      }
    }
    .post-item-tag {
      display: inline-block;
      margin-left: 20px;

      a {
        color: #aaa;
        text-decoration: none;
      }
    }
  }

  p {
    word-break: break-all;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 20px;
    text-indent: 2em;
    line-height: 1.5em!important;
  }

  blockquote>p {
    color: #9A9A9A;
  }
}

.post-item.condense {
  padding: 10px 0;

  .post-item-head {
    .post-item-title {
      font-size: 20px;
    }
  }

  .post-item-datetag {
  font-size: 16px;
  }

  p {
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 5px;
  }
}