animation-time = 0.4s

@keyframes showBlock
  0%
    opacity: 0

  100%
    opacity: 1

@keyframes hideBlock
  0%
    opacity: 1

  100%
    opacity: 0

.menubar-head
  display: none
  animation: showBlock animation-time forwards
  z-index: 10

  &:not([data-show])
    animation: hideBlock animation-time forwards
    z-index: 10
    opacity: 1
    height: 150px

.menubar-ul
  padding-left: 20px
  padding-right: 20px
  margin-top: 10px
  margin-bottom: 10px

  .menubar-item
    font-size: content-font-size
    line-height: 1
    display: grid
    grid-template-columns: auto 1fr
    align-items: baseline
    column-gap: 0.25em
    margin: 0.75em auto

    &[data-border]
      margin-top: 1em

    .icon
      font-size: default-font-size

    .menubar-link
      text-color(primary-color, primary-color-light, primary-color-dark)
      display: inline-block
      padding-left: 0px
      width: 100%

.menu-search-box
  margin: 60px 20px 30px 21px
  padding: 10px 10px
  display: flex
  align-items: center
  justify-content: space-between
  border: 1px solid
  border-radius: 5px
  border-color(primary-gray, primary-gray-light, secondary-color-dark)
  text-color(primary-gray, primary-gray-light, secondary-color-dark)
