animation-time = 0.4s

@keyframes showBlock
  0%
    opacity: 0

  100%
    opacity: 1

@keyframes hideBlock
  0%
    opacity: 1

  100%
    opacity: 0

.barShow-head
  display: none

.barShow
  animation: showBlock animation-time forwards
  display: block !important
  z-index: 10

.barShow-ul
  padding-left: 20px
  width: 100%
  margin-top: 10px
  margin-bottom: 10px

  .barShow-item
    a
      primary-link-text()
      display: inline-block
      margin: 8px auto
      padding-left: 0px

.barShow-hide
  animation: hideBlock animation-time forwards
  z-index: 10
  display: block !important
  opacity: 1
  height: 150px
