.head-header
  height: 65px
  line-height: 65px
  max-width: 1000px
  margin: 0 auto
  width: 90%
  display: flex
  align-items: center
  justify-content: space-between

.head-authorH
  display: inline-block

  .head-authorLink
    font-size: title-font-size
    font-weight: 200
    text-decoration: none
    text-color(primary-color, primary-color-light, primary-color-dark)

.head-right
  float: right

  .head-search
    display: inline-block

    .head-searchK
      border: none
      width: 0px
      width: 166px
      height: 38px
      border-bottom: 1px solid
      border-color(border-gray, border-gray-light, border-gray-dark)

      &:focus
        outline: none

    .head-searchT
      margin-left: 20px
      text-color(secondary-gray, secondary-gray-light, secondary-gray-dark)

  .head-about
    display: inline-block
    margin-left: 30px

    .head-aboutLink
      text-decoration: none
      text-color(secondary-gray, secondary-gray-light, secondary-gray-dark)

  .bar-wrap
    display: none
    outline: none
    padding: 9px 10px
    background: transparent
    border: none
    user-select: none
    cursor: pointer

    .bar
      display: block
      width: 22px
      height: 2px
      background-color(secondary-gray, secondary-gray-light, secondary-gray-dark)
      border-radius: 1px

    .bar + .bar
      margin-top: 4px
