animation-time = 0.4s

@keyframes showBlock
  0%
    opacity: 0

  100%
    opacity: 1

@keyframes hideBlock
  0%
    opacity: 1

  100%
    opacity: 0

.menu-bar-head
  display: none
  animation: showBlock animation-time forwards
  z-index: 10

  &[data-show=false]
    animation: hideBlock animation-time forwards
    z-index: 10
    opacity: 1
    height: 150px

.menu-bar-ul
  padding-left: 20px
  padding-right: 20px
  margin-top: 10px
  margin-bottom: 10px

  .menu-bar-item
    &.border
      border-top: 1px solid
      border-color(border-gray, border-gray-light, border-gray-dark)

    a
      primary-link-text()
      display: inline-block
      margin: 8px auto
      padding-left: 0px
