code-font-size = 16px
code-font-family = 'Inconsolata', 'monospace', 'Open Sans', 'Microsoft Yahei', sans-serif
$dark-mode = hexo-config('dark_mode')
// Light
$code-color-light = #000
$code-background-light = #f5f5f5
// Dark
$code-color-dark = #fff
$code-background-dark = #333

if (!$dark-mode)
  $code-color = $code-color-light
  $code-background = $code-background-light
else
  $code-color = $code-color-dark
  $code-background = $code-background-dark

gray = #cacaca
comment = #93a1a1
keyword = #859900
number = #2aa198
name = #268bd2
attribute = #b58900
symbol = #cb4b16
built_in = #dc32 2

code, pre
  padding: 7px
  font-size: code-font-size
  font-family: code-font-family
  background-color($code-background, $code-background-light, $code-background-dark)

code
  padding: 3px 5px
  text-color($code-color, $code-color-light, $code-color-dark)

.highlight
  margin: 1em 0
  overflow-x: auto
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125)

  table
    position: relative
    margin: 0 !important

    &::after
      content: 'Code'
      position: absolute
      top: 0
      right: 0
      left: 0
      padding: 2px 7px
      font-size: code-font-size
      font-weight: bold
      color: gray
      background-color(
        darken($code-background, 3%),
        darken($code-background-light, 3%),
        lighten($code-background-dark, 3%)
      )

  .code
    pre
      margin: 0
      padding: 30px 10px 10px

  .gutter
    width: 10px
    color: gray
    text-align: right

    pre
      margin: 0
      padding: 30px 7px 10px

  .line
    line-height: 1.45em

  table, tr, td
    margin: 0
    padding: 0
    width: 100%
    border-collapse: collapse

  .code
    .comment, .quote
      color: comment

    .keyword, .selector-tag, .addition
      color: keyword

    .number, .string, .meta .meta-string, .literal, .doctag, .regexp
      color: number

    .title, .section, .name, .selector-id, .selector-class
      color: title

    .attribute, .attr, .variable, .template-variable, .class .title, .type
      color: attribute

    .symbol, .bullet, .subst, .meta, .meta .keyword, .selector-attr, .selector-pseudo, .link
      color: symbol

    .built_in, .deletion
      color: built_in
