.menu-nav
  padding-top: 40px
  text-color(secondary-gray, secondary-gray-light, secondary-gray-dark)

  .menu-nav-item
    info-text()

    .menu-nav-title
      border-bottom: 1px solid
      border-color(primary-gray, primary-gray-light, primary-gray-dark)

      a
        primary-link-text()

  div.menu-nav-item:not(:first-of-type)
    margin-top: 2.5em

.menu-nav-content
  margin-top: 0.75em

  .menu-nav-item
    line-height: 1.25em
    white-space: normal
    padding-bottom: 0.75em
    word-wrap: break-word

    a
      text-color(primary-color, primary-color-light, primary-color-dark)

  .menu-nav-item.empty
    text-color(secondary-gray, secondary-gray-light, secondary-gray-dark)

  // Archive menu
  .archive-list
    if (hexo-config('archive_columns') == '2')
      display: grid;
      grid-template-columns: auto auto;
    else if (hexo-config('archive_columns') == '3')
      display: grid;
      grid-template-columns: auto auto auto;
    else // 1 column
      // nothing

    .archive-list-item
      height: 2em
      line-height: 2em

      a
        text-color(primary-color, primary-color-light, primary-color-dark)

  // Tag menu
  .tag-list-item
    display: inline-block
    padding: 0px 10px 7px 0px

    a
      text-color(primary-color, primary-color-light, primary-color-dark)

  // list-counts for tags and archives
  .archive-list-item .archive-list-count, .tag-list-item .tag-list-count
    vertical-align: super
    font-size: 0.6em
    margin-top: -0.5em
    text-color(secondary-gray, secondary-gray-light, secondary-gray-dark)
