.search-modal
  position: fixed
  top: 0
  left: 0
  width: 100dvw
  height: 100dvh
  display: flex

  &:not([data-show])
    display: none

  head-height = 60px

  .card
    position: relative
    width: 60dvw
    max-width: (2/3 * content-max-width)
    height: 60dvh
    margin-left: auto
    margin-right: auto
    margin-top: 20dvh
    background-color($background-color, background-color-light, background-color-dark)
    border-color($border-color, border-color-light, border-color-dark)
    border: 1px solid
    border-radius: 10px
    padding: 1em

    .card-head
      height: head-height

      .search-box
        display: flex
        justify-content: center
        align-items: center
        font-size: title-font-size

        .search-input
          padding: 0.25em 0.75em
          margin: 0.5em
          border-radius: 100px // large enough
          border-color($border-color, border-color-light, border-color-dark)
          border: 1px solid
          font-size: content-font-size
          background-color(background-color, background-color-light, background-color-dark)
          text-color(primary-color, primary-color-light, primary-color-dark)

          &:focus
            outline: none // remove the default focus outline
            box-shadow: 0 0 5px #3498db

        .search-button
          cursor: pointer

    .card-body
      height: 'calc(60dvh - %s)' % head-height
      overflow-y: auto

      .search-count
        margin-bottom: 1em
        margin-left: 1em // align with 'search-result-item's

      .search-result
        margin-right: 1em

        .search-result-item
          display: block
          margin: 0.5em 0
          padding: 0.5em 1em
          border-radius: 10px
          background-color(#0000000a, #0000000a, #ffffff0a)

          &:last-child
            margin-bottom: 2em

          .highlight
            background-color(#fff7a0, #fff7a0, #4e4828)
            box-shadow: none

          .search-result-title
            font-size: content-font-size
            text-color(primary-color, primary-color-light, primary-color-dark)

          .search-result-tags
            text-color(primary-gray, primary-gray-light, secondary-color-dark)
            font-size: info-font-size

            span + span
              &:before
                content: '|'
                margin-right: 0.25em

              margin-left: 0.25em

    .close-button
      position: absolute
      top: 0
      right: 0
      margin: 0.5em
      font-size: 20px
      cursor: pointer

    // .card
    @media (max-width: 768px)
      width: 100dvw
      height: 100dvh
      margin: 0
      border: none

      .card-head
        margin-top: 40px
        display: flex
        flex-direction: column
        align-items: center

        .search-box
          margin-right: 1em
          display: grid
          grid-template-columns: 1fr auto

      .card-body
        height: 'calc(100dvh - %s)' % (head-height + 40px)

      .close-button
        font-size: 32px
        right: unset
        margin-top: 16px
        border-radius: 40px
        background-color(#0000000a, #0000000a, #ffffff0a)
