@font-face
  font-family: 'icon'
  src: url('/fonts/icons.eot?9xf5m2')
  src: url('/fonts/icons.eot?9xf5m2#iefix') format('embedded-opentype'), url('/fonts/icons.ttf?9xf5m2') format('truetype'), url('/fonts/icons.woff?9xf5m2') format('woff'), url('/fonts/icons.svg?9xf5m2#icons') format('svg')
  font-weight: normal
  font-style: normal
  font-display: block

.icon
  font-family: 'icon'
  font-style: normal
  text-color(primary-gray, primary-gray-light, secondary-color-dark)

.icon-chevron-bar-up:before
  content: '\e900'

.icon-chevron-right:before
  content: '\e901'

.icon-chevron-left:before
  content: '\e902'

.icon-clipboard-check:before
  content: '\e903'

.icon-clipboard:before
  content: '\e904'
