root = hexo-config('root')
icomoon-font-path ?= root + "fonts"

@import '../_fonts/style'

icon-font()
  font-family: 'icons'
  font-style: normal
  text-color(primary-gray, primary-gray-light, secondary-color-dark)

.icon
  icon-font()

quote-sign()
  content: icon-quote
  icon-font()
