.pagination
  margin-top: 20px
  margin-bottom: 36px
  display: grid
  grid-template-columns: 1fr 1fr

  .nav-link
    display: flex
    flex-direction: row
    align-items: center

    i
      margin-bottom: -2px

    &.prev
      justify-self: flex-start
      grid-column: 1

    &.next
      justify-self: flex-end
      grid-column: 2
