.pagination
  margin-top: 20px
  margin-bottom: 36px

  .nav-link
    display: flex
    flex-direction: row
    align-items: center

    i
      margin-bottom: -2px

    &.prev
      float: left

    &.next
      float: right