content-text()
  line-height: 1.5em
  text-indent: 2em
  text-align: justify
  font-size: content-font-size
  font-family: content-font-family
  font-weight: 400
  word-break: break-word
  padding-top: 0.25em
  padding-bottom: 0.5em

primary-link-text()
  text-color(primary-color, primary-color-light, primary-color-dark)
  font-size: default-font-size

info-link-text()
  text-color(primary-gray, primary-gray-light, primary-gray-dark)
  font-size: default-font-size

info-text()
  text-color(primary-gray, primary-gray-light, primary-gray-dark)
  font-size: info-font-size

quoted-text(size)
  p
    text-indent: 0
    font-size: size
    text-color(secondary-color, secondary-color-light, secondary-color-dark)

quoted-with-sign(size)
  quote-size = 1.5 * size
  offset = 0.1

  p
    padding-left: quote-size
    padding-right: quote-size

    &:before
      quote-sign()
      font-size: quote-size
      margin-left: (-1 - offset) * quote-size
      margin-right: offset * quote-size
