content-text()
  line-height: 1.5em
  text-indent: 2em
  text-align: justify
  font-size: content-font-size
  font-family: default-font-family
  font-weight: normal
  word-break: break-word
  padding-top: 0.25em
  padding-bottom: 0.5em

primary-link-text()
  color: secondary-color
  font-size: default-font-size

info-link-text()
  color: primary-gray
  font-size: default-font-size